@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #ffff;
  border: #00CC66 2px solid;
  cursor: pointer;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-thumb {
  background-color: #00CC66;
  border-radius: 100px;
  height: 10px;
}